@import "reset";
@import "variables";

html {
  font: {
    size: 100%;
    family: $fonts;
  }
}

body {
  background: $mainBackgroundColor;
  font: 18px/1.3 $fonts;
  color: $textColor;
}
.container {
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 10px 25px;
  width: 100%;
  display: grid;
  grid-template: {
    columns: 2fr 5fr;
    rows: auto auto auto;
    areas:
      "logo title"
      "blank subtitle"
      "nav content";
  }
  // row-gap: 5px;
  // padding: 0 10px 25px;
}

.logo {
  grid-area: logo;
  background-color: $darkBlue;
  justify-self: stretch;
  align-self: stretch;
  text-align: center;
  a img {
    height: 70px;
}
}
nav {
  grid-area: nav;
  justify-self: stretch;
  font-size: 20px;
  text-align: center;
  ul {
    list-style-type: none;
    padding: 8px;
    li.active {
      background-color: $darkBlue;
      a {
        color: white;
      }
      :hover {
        background-color: inherit;
      }
    }
    li {
      a {
        padding: 6px 13px;
        display: block;
        color: inherit;
        text-decoration: none;

      }
      :hover {
        background-color: $lightBlue;
      }
    }
  }
}
header.title {
  grid-area: title;
  background-color: $medBlue;
  justify-self: stretch;
  align-self: stretch;
  padding: 10px 15px;
  color: white;
  font-size: 40px;
}
header.subtitle {
  grid-area: subtitle;
  background-color: $lightBlue;
  padding: 8px 15px;
  a {
    color: inherit;
    font-size: 25px;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}
h2 {
  margin: 10px 0;
}
h3 {
  margin: 30px 0 8px;
}
h4 {
  margin: 4px 0;
}
p {
  margin: 12px 0;
}
a {
  text-decoration: none;
  &, &:hover, &:active {
    color: $themeColor;
  }
}
article ul {
  list-style-type: disc;
  margin: 10px 30px;
}
article {
  grid-area: content;
  padding: 20px 15px;
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 22px;
  }
}
.blank {
  background-color: $medBlue;
}
