@import "reset";
@import "variables";

// primary HTML and body
html {
  font: {
    size: 100%;
    family: $fonts;
  }
}
body {
  background: $mainBackgroundColor;
  font: 18px/1.3 $fonts;
  color: $textColor;
}

// main container defining grid structure and overall layout
.container {
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 10px 25px;
  width: 100%;
  display: grid;
  grid-template: {
    columns: 2fr 5fr;
    rows: auto auto auto;
    areas:
      "logo title"
      "blank subtitle"
      "nav content";
  }

  // simplified header for mobile
  @include mobile {
    grid-template: {
      columns: auto 50px;
      rows: 56px auto;
      areas:
        "title nav"
        "content content";
    }
    padding: 0 0 25px;
  }
}

// do not show logo, subtitle, and blank square on mobile
.logo, header.subtitle, header#blank {
  @include mobile {
    display: none;
  }
}

// format blank
#blank {
  grid-area: blank;
  background-color: $medBlue;
}

// format logo (top left)
.logo {
  grid-area: logo;
  background-color: $darkBlue;
  justify-self: stretch;
  align-self: stretch;
  text-align: center;
  a img {
    height: 70px;
    object-fit: cover; // don't distort the image
  }
}

// format navigation pane
nav {
  grid-area: nav;
  justify-self: stretch;
  font-size: 20px;
  text-align: center;
  ul {
    list-style-type: none;
    padding: 8px;
    li.active {
      background-color: $darkBlue;
      a {
        color: white;
      }
      :hover {
        background-color: inherit;
      }
    }
    li {
      a {
        padding: 6px 13px;
        display: block;
        color: inherit;
        text-decoration: none;
      }
      border-bottom: 1px solid $lightBlue;
      @include mobile {
        border-bottom: 1px solid $medBlue;
      }
      :hover {
        background-color: $lightBlue;
      }
    }
  }

  // dropdown menu for mobile / small screens
  label, input {
    display: none;
  }
  @include mobile {
    label {
      display: block;
      cursor: pointer;
      background-color: $lightBlue;
      img {
        padding: 3px;
        align: center;
      }

      & + input,
      & + input + ul {
        display: none;
      }
    }
    input:checked + ul {
      display: block;
      position: relative;
      float: right;
      background-color: $lightBlue;
      z-index: 1;
    }
  }
}

// title
header.title {
  grid-area: title;
  background-color: $medBlue;
  justify-self: stretch;
  align-self: stretch;
  padding: 10px 15px;
  color: white;
  font-size: 40px;
  @include mobile {
    font-size: 23px;
    padding: 10px 8px;
  }
}

// subtitle
header.subtitle {
  grid-area: subtitle;
  background-color: $lightBlue;
  padding: 8px 15px;
  a {
    color: inherit;
    font-size: 25px;
  }
}

// article-specific formatting
article {
  grid-area: content;
  padding: 20px 15px;
  @include mobile {
    padding: 10px 8px;
  }
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 22px;
  }

  ul {
    list-style-type: disc;
    margin: 10px 30px;
  }

  // formatting for abstracts
  label {
    cursor: pointer;
    color: $themeColor;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    font-style: italic;

    & + input,
    & + input + p {
      display: none;
    }
  }
  input:checked + p {
    display: block;
    border: 2px solid $medBlue;
    padding: 5px;
    border-radius: 5px;
  }
}

// headers
h1, h2, h3, h4, h5 {
  font-weight: bold;
}
h2 {
  margin: 10px 0;
}
h3 {
  margin: 30px 0 8px;
}
h4 {
  margin: 4px 0;
}
p {
  margin: 12px 0;
}

// misc. text formatting
strong {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
sup {
  vertical-align: super;
  font-size: 70%;
}
sub {
  vertical-align: sub;
  font-size: 70%;
}
var {
  font-family: $mathFonts;
  font-style: italic;
}
a {
  text-decoration: none;
  &, &:hover, &:active {
    color: $themeColor;
  }
}

// seminar entries
h4.sem-date {
  font-weight: normal;
}
.sem-entry {
  padding: 10px 0;
  border-bottom: 2px solid $lightBlue;
}

// misc. other formatting
img {
  width: 100%;
}
