<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ section.title }} - {{ config.extra.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <meta property="og:title" content="{{ section.title }} - {{ config.extra.title }}">
    <meta property="og:description" content="{{ section.description }}">

    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  </head>

  <body>
    <div class="container">
      <header class="logo">
        <a href="https://www.st-andrews.ac.uk/"><img src="/sta-logo.gif"></a>
      </header>
      <header class="title"><h1>{{ config.extra.title }}</h1></header>
      <header class="subtitle"><a href="https://www.st-andrews.ac.uk/mathematics-statistics/">School of Mathematics and Statistics</a></header>
      <div id="blank"></div>

      <nav>
        <label for="nav-toggle" class="stack"><img src="/stack.svg"></label>
        <input id="nav-toggle" type="checkbox">
        <ul>
          {%- set links = load_data(path="data/links.json") %}
          {%- for obj in links.nav -%}
          {%- if not section.title %}{% set cur = false %}
          {%- elif section.title  == obj.name %}{% set cur = true %}
          {%- else %}{% set cur = false %}{% endif %}
          <li{% if cur %} class="active"{% endif %}><a href="{{ obj.url | safe }}">{{ obj.name | safe }}</a></li>
          {%- endfor %}
        </ul>
      </nav>

      <article>
        <h2>{% block title %}{% endblock %}</h2>
        {%- block content -%}{%- endblock -%}
      </article>
    </div>
  </body>
</html>
