<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Analysis Research Group</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body>
    <div class="container">
      <header class="logo">
        <a href="https://www-maths.mcs.st-and.ac.uk"><img src=/sta-logo.gif></a>
      </header>
      <header class="title"><h1>Analysis Research Group</h1></header>
      <header class="subtitle"><a href="https://www-maths.mcs.st-and.ac.uk">School of Mathematics and Statistics</a></header>
      <div class="blank"></div>

      <nav>
        <ul>

          {%- set links = load_data(path="data/links.json") %}
          {%- for obj in links.nav -%}
          {%- if not section.title %}{% set cur = false %}
          {%- elif section.title  == obj.name %}{% set cur = true %}
          {%- else %}{% set cur = false %}{% endif %}
          <li{% if cur %} class='active'{% endif %}><a href='{{ obj.url | safe }}'>{{ obj.name | safe }}</a></li>
          {%- endfor %}
        </ul>

      </nav>

      <article>
        <h2>{% block title %}{% endblock %}</h2>
        {%- block content -%}{%- endblock -%}
      </article>
    </div>
  </body>
</html>
